<div class="container">

  <h3>Dashboard</h3>

  <br/>


  <div class="row">
    <div class="col-md-12">
      <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tab-striped" >
          <li ui-sref-active="active"><a ui-sref=".members_table" >  Project Member Wise </a></li>
          <li ui-sref-active="active" ><a ui-sref=".projects_table"  >  Project Wise </a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="row">
            <div class="col-md-12 tab-pane active" style="padding-top: 15px;padding-bottom: 15px" ui-view></div>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>
